<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="top.baozoulolw.exam.dao.PaperDao">
    <sql id="paper_columns">
        p.id,p.oper_user,p.change_time,p.create_time,p.hard,p.content,p.paper_name,p.remark,p.drawer
    </sql>
    <select id="getPaperList" resultType="top.baozoulolw.exam.entity.Paper"
            parameterType="top.baozoulolw.exam.vo.PaperParamVO">
        select
        <include refid="paper_columns"/>,
        IFNULL(sum( qp.score ),0) total_score,
        u1.real_name change_user,
        u2.real_name drawer_user,
        u2.gender teacherGender from
        tb_paper p
        left join tb_user u1 on u1.id = p.oper_user
        left join tb_user u2 on u2.id = p.drawer
        LEFT JOIN tb_question_paper qp ON qp.paper_id = p.id
        <where>
            <if test="param.keyword != null and param.keyword != ''">
                AND (p.content like "%"#{param.keyword}"%"
                OR u2.real_name like "%"#{param.keyword}"%"
                OR p.paper_name like "%"#{param.keyword}"%"
                )
            </if>
            <if test="param.hard != null">
                AND p.hard = #{param.hard}
            </if>
        </where>
        GROUP BY
        p.id,
        p.oper_user,
        p.change_time,
        p.create_time,
        p.hard,
        p.content,
        p.paper_name,
        p.remark,
        p.drawer,
        change_user,
        drawer_user,
        teacherGender
    </select>

    <resultMap id="paper" type="top.baozoulolw.exam.entity.Paper">
        <id property="id" column="pid"/>
        <result property="createTime" column="uCreateTime"/>
        <result property="totalScore" column="total_score"/>
        <result property="paperName" column="paper_name"/>
        <result property="remark" column="remark"/>
        <result property="drawer" column="drawer"/>
        <result property="hard" column="hard"/>
        <result property="changeTime" column="pChangeTime"/>
        <result property="operUser" column="pOperUser"/>
        <result property="createTime" column="pCreateTime"/>
        <association property="changeUserInfo" column="{userId=pOperUser}" select="selectUser"/>
        <association property="drawerUserInfo" column="{userId=drawer}" select="selectUser"/>
        <collection property="questions" ofType="top.baozoulolw.exam.entity.PaperQuestion">
            <id property="id" column="pqid"/>
            <result property="questionId" column="question_id"/>
            <result property="paperId" column="paper_id"/>
            <result property="score" column="score"/>
            <result property="sort" column="sort"/>
            <result property="changeTime" column="pqChangeTime"/>
            <result property="operUser" column="pqOperUser"/>
            <result property="createTime" column="pqCreateTime"/>
            <association property="question" column="{questionId=question_id}" select="selectQuestion"/>
        </collection>
    </resultMap>
    <select id="getPaperById" resultMap="paper" parameterType="Long">
        select
        p.id pid,
        IFNULL(sum( pq.score ),0) total_score,
        p.paper_name,
        p.remark,
        p.drawer,
        p.hard,
        p.change_time pChangeTime,
        p.oper_user pOperUser,
        p.create_time pCreateTime,
        pq.id pqid,
        pq.question_id,
        pq.paper_id,
        pq.score,
        pq.sort,
        pq.change_time pqChangeTime,
        pq.oper_user pqOperUser,
        pq.create_time pqCreateTime
        from tb_paper p
        left join tb_question_paper pq on pq.paper_id = p.id
        where p.id = #{param}
        GROUP BY
        p.id,
        p.oper_user,
        pChangeTime,
        pOperUser,
        pCreateTime,
        p.hard,
        p.paper_name,
        p.remark,
        p.drawer,
        pqid,
        pq.question_id,
        pq.paper_id,
        pq.score,
        pq.sort,
        pqChangeTime,
        pqOperUser,
        pqCreateTime
    </select>

    <select id="selectUser" resultType="top.baozoulolw.exam.entity.User" parameterType="java.util.Map">
        select * from tb_user where id = #{userId}
    </select>

    <select id="selectQuestion" resultType="top.baozoulolw.exam.entity.Question" parameterType="java.util.Map">
        select * from tb_question where id = #{questionId}
    </select>
</mapper>