<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="top.baozoulolw.exam.dao.ResourceDao">

    <resultMap id="resource" type="top.baozoulolw.exam.entity.Resource">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="resourceName" column="resource_name"/>
        <result property="type" column="type"/>
        <result property="weights" column="weights"/>
        <result property="parent" column="parent"/>
        <result property="isRoot" column="is_root"/>
        <result property="path" column="path"/>
        <result property="icon" column="icon"/>
        <result property="note" column="note"/>
        <result property="operUser" column="oper_user"/>
        <result property="changeTime" column="change_time"/>
        <result property="changUser" column="change_user"/>
        <collection property="children" ofType="top.baozoulolw.exam.entity.Resource">
            <id property="id" column="c_id"/>
            <result property="createTime" column="c_create_time"/>
            <result property="resourceName" column="c_resource_name"/>
            <result property="type" column="c_type"/>
            <result property="weights" column="c_weights"/>
            <result property="parent" column="c_parent"/>
            <result property="isRoot" column="c_is_root"/>
            <result property="path" column="c_path"/>
            <result property="note" column="c_note"/>
            <result property="icon" column="c_icon"/>
            <result property="operUser" column="c_oper_user"/>
            <result property="changeTime" column="c_change_time"/>
            <result property="changUser" column="c_change_user"/>
        </collection>
    </resultMap>
    <select id="getAllResource" resultMap="resource" parameterType="string">
        select
        r.id,
        r.resource_name,
        r.type,
        r.weights,
        r.parent,
        r.is_root,
        r.change_time,
        r.oper_user,
        r.create_time,
        r.path,
        r.note,
        r.icon,
        u.real_name change_user,
        r1.id c_id,
        r1.resource_name c_resource_name,
        r1.type c_type,
        r1.weights c_weights,
        r1.parent c_parent,
        r1.is_root c_is_root,
        r1.change_time c_change_time,
        r1.oper_user c_oper_user,
        r1.create_time c_create_time,
        r1.path c_path,
        r1.note c_note,
        r1.icon c_icon,
        u1.real_name c_change_user
        from tb_resource r
        left join tb_resource r1 on r1.parent = r.id
        left join tb_user u on u.id = r.oper_user
        left join tb_user u1 on u1.id = r1.oper_user
        where r.is_root = 1 and (r1.platform = #{platform} or r.platform = #{platform})
        order by r.weights ASC, r1.weights ASC
    </select>
    <select id="getResourceByUserId" resultMap="resource">
        select distinct
        r.id,
        r.resource_name,
        r.type,
        r.weights,
        r.parent,
        r.is_root,
        r.change_time,
        r.oper_user,
        r.create_time,
        r.path,
        r.note,
        r.icon,
        u.real_name change_user,
        r1.id c_id,
        r1.resource_name c_resource_name,
        r1.type c_type,
        r1.weights c_weights,
        r1.parent c_parent,
        r1.is_root c_is_root,
        r1.change_time c_change_time,
        r1.oper_user c_oper_user,
        r1.create_time c_create_time,
        r1.path c_path,
        r1.note c_note,
        r1.icon c_icon,
        u1.real_name c_change_user
        from tb_resource r
        left join tb_resource r1 on r1.parent = r.id
        left join tb_user u on u.id = r.oper_user
        left join tb_user u1 on u1.id = r1.oper_user
        left join tb_role_resource trr on trr.resource_id = r.id or trr.resource_id = r1.id
        left join tb_user_role tur on tur.role_id = trr.role_id
        where r.is_root = 1 and tur.user_id = #{param} and (r1.platform = #{platform} or r.platform = #{platform})
        order by r.weights ASC, r1.weights ASC
    </select>
    <select id="hasResource" resultType="int">
        select count(distinct
        r.id,
        r1.id)
        from tb_resource r
        left join tb_resource r1 on r1.parent = r.id
        left join tb_role_resource trr on trr.resource_id = r.id or trr.resource_id = r1.id
        left join tb_user_role tur on tur.role_id = trr.role_id
        where r.is_root = 1 and tur.user_id = #{id} and (r1.platform = #{platform} or r.platform = #{platform})
        limit 1
    </select>
    <select id="checkKeys" resultType="java.lang.Long">
        select rr.resource_id from tb_role_resource rr left join tb_resource r on r.id = rr.resource_id
        where r.platform = #{platform} and rr.role_id = #{id}
    </select>

</mapper>